/* 
    Document   : geral
    Created on : 27/08/2013, 00:29:09
    Author     : Anderson,Rafael
    Description:
        CSS geral do sistema.
*/
.erro{
    border:1px solid red;   
}
#geral{
    width:100%;
    height:100%;
}
#topo{
    width:100%;
    height:60px;
    background-color: gray;
}
.wrap{
    margin-left:10%;
    width:80%;
    
}
#conteudo{
    width:100%;
    height:auto;
}

#esquerda{
    float:left;
    width:79%;
    height:100%;
}

#direita{
    float:left;
    width:20%;
    height:100%;
}