/* 
    Document   : geral
    Created on : 27/08/2013, 00:29:09
    Author     : Anderson,Rafael
    Description:
        CSS geral do sistema.
*/
*{
    font-family: Verdana,Arial,sans-serif; 
}
input[type="text"],input[type="password"],select{
    padding:6px 6px;
}
.hideen{
    display:none;
}
h1{
    font-size:24px;
}
p,label,a{
    font-size:12px;
}
.erro{
    border:1px solid red;   
}
#geral{
    width:100%;
    height:100%;
}
#topo{
    width:100%;
    height:60px;
    position:fixed;
    top:0px;
    left:0px;
    background-color: gray;
    background-image:url('../imagem/logo.png');
    background-repeat: no-repeat;
    background-position: 15%;
}
.wrap{
    margin-left:15%;
    width:70%;
    
}
.div_transparente{
    background-color: rgba(220, 220, 220, 0.5);
    padding: 8px;
    -moz-border-radius:7px;
-webkit-border-radius:7px;
 border-radius:7px;
    margin-top:10px;
}
#conteudo{
    width:100%;
    height:100%;
    position:fixed;
    padding-top:20px;
    top:60px;
    left:0px;
    background-color:#fff;
}

#esquerda{
    float:left;
    width:59%;
    height:100%;
}

#direita{
    float:left;
    width:30%;
    height:100%;
    
}
.textfield{
    border:none;    
    background-color:transparent;
    float:left;
    width:380px;
    outline: 0;
}
.form-search{
    position: relative;
    display: block;
    width: 400px;
    height: 30px;
    top: 0;
    padding: 6px 6px 3px 3px;
    left: 30%;
    top: 10px;
    background: #fff;
}

button[type=submit]{
    width:20;
    height:20px;
    display:block;
    overflow:hidden;
    text-indent:-999px; /* To remove any default text on the button*/
    line-height:16px; /* required for safari */
    background:url(../imagem/search-icon-hi.png) no-repeat 0 0; /* This will display the search icon by default */
    background-size:20px;
    cursor:pointer; /* Hand cursor for the normal state */
    border:none;
    padding:0;
    z-index: 20;
}

.resultados{
    width: 100%;
    height: 100%;
}

.qResultado{
    width:100%;
    height:120px;
    border:1px solid #ccc;
    margin-top:10px;
}

.qResultado img{
    width:100px;
    height:100%;
    float:left;
}
.infoResultado{
    width:auto;
    float:left;
    height:100%;
}

.infoUsuario{
    font-weight: bold;
    font-size: 16px;
    text-indent:10px;
}

.infoPublic{
    text-indent:20px;
    line-height:30%;
}

.infoMidia{
    font-weight: bold;
    text-indent:20px;
}

#login,#join{
    height:200px;
}
h2{
    font-size:14px;
}
a:link, a:visited {
    text-decoration: none;
    color:black;
}
a:hover {
    text-decoration: none; 
    color: #006dc1;
}
a:active {
    text-decoration: none;
    color:black;
}
.FotoPerfil{
    float: left;
}
#LinksPerfil a{
    float:left;
    right:55%;
    border-right: solid;
    padding-right: 5px;
    padding-left: 5px;
}
#NomeUsuTopo{
    float:left;
    position: absolute;
    right:55%;
}
#SobreAutor{
    top:30%;
    position: absolute;
}
#TextoSobreAutor{
    width: 500px;
    height: 120px;
    border: solid;
}
#PublicRecente{
    position: absolute;
    bottom: 35%;
}
#publicR{
    position: absolute;
    width: 500px;
}
#Destaques{
    height: 80%;
    border-left: solid;
    position: absolute;
    right: 30%;
    padding-left: 30px;
}
